*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: 'LibreBaskerville' ;
    src: url("fonts/LibreBaskerville-Regular.woff");
}

@font-face {
    font-family: 'Poppins';
    src: url("fonts/Poppins-Bold.woff");
}

@font-face {
    font-family: 'Montserrat';
    src: url("fonts/Montserrat-VariableFont_wght.woff");
}

body{
    margin: 0;
    padding: 0;
    font-family: 'LibreBaskerville';
}




header{
    background-color: #262f499f;
    background-image: url("images/pic46-free-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: darken;
    opacity: 0.95;
    width: 100%;
    height: 530px;
    margin-bottom: 30px;
    text-align: center;
}

header .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2.3rem;
}

header .nav .weblogo{
    align-content: center;
}

header .nav .hyperlinks{
    width: 40%;
    align-content: center;
}

header .nav .hyperlinks ul{
    display: flex;
    justify-content: space-evenly;
}

header .nav .hyperlinks ul li{
    list-style-type: none;
}

header .nav .hyperlinks ul li a{
    color: white;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
}

header .nav .hyperlinks ul li a:hover{
    color: rgb(255, 67, 98);
    transition: 150ms ease;
}


header .hero-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
}

header .hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}


header .section1{
    margin-bottom: 30px;
}

header .section2{
    font-size: 1.2rem;
    font-weight: 300;
}

header .section3{
    font-size: 4.9rem;
    font-weight: bold;
    margin: 25px;
    letter-spacing: 3px;
}

header .section4{
    font-size: 1.8rem;
    font-weight: 500;
}









.quadrant{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(246, 246, 246);
    width: 100%;
    height: 850px;
}

.quadrant .quarter{
    display: grid;
    justify-content: center;
    gap: 30px;
    grid-template-columns: repeat(2, 565px);
    grid-template-rows: 450px 280px;
    grid-template-areas: 
    'a b'
    'c c';
    height: 700px;
    width: 79%;
}

.quadrant .quarter .genesis{
    grid-area: a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(37, 45, 65);
}

.quadrant .quarter .genesis1{
    margin-bottom: 30px;
    font-size: 30px;
}

.quadrant .quarter .genesis2{
    font-size: 15px;
    line-height: 30px;
    font-family: 'Montserrat';
    font-weight: 300;
}

.quadrant .quarter .genesis3{
    margin: 45px 0px;
    font-size: 20px;
    font-weight: 600;
}

.quadrant .quarter .genesis4 ul{
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.quadrant .quarter .genesis4 ul li{
    list-style-type: none;
    font-size: 20px;
}

.quadrant .quarter .genesis4 ul li a i{
    width: 60%;
    text-align: center;
}

.quadrant .quarter .genesis4 ul li a{
    color: white;
    padding: 10px;
    background-color: rgb(255, 103, 128);
    border-radius: 50%;
}

.quadrant .quarter .genesis4 ul li a:hover{
    color: rgb(246, 246, 246);
}

.quadrant .quarter .median{
    grid-area: b;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.quadrant .quarter .median form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 400px;
    width: 100%;
    
}

.quadrant .quarter .median form input{
    padding: 10px;
    width: 100%;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 15px;
    color: black;
    background-color: white;
    border: 1px solid rgb(219, 219, 219);
}

.quadrant .quarter .median form textarea{
    padding: 10px;
    width: 100%;
    height: 130px;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 15px;
    color: black;
    background-color: white;
    border: 1px solid rgb(219, 219, 219);

}

.quadrant .quarter .median button{
    padding: 15px 50px;
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 500;
    background-color: rgb(246, 246, 246);
    border: 2px solid rgb(255, 67, 98);
}

.quadrant .quarter .median button:hover{
    transition: 150ms ease;
    color: white;
    background-color: rgb(255, 67, 98);
    border: 2px solid rgb(255, 67, 98);
}

.quadrant .quarter .end{
    grid-area: c;
    background-color: blue;
    background-image: url("images/pic48-free-img.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}








.information{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 450px;
}

.information .less-info{
    display: grid;
    justify-content: space-evenly;
    align-content: center;
    gap: 30px;
    grid-template-columns:  repeat(3, 350px);
    grid-template-rows: repeat(1, 350px);
    grid-template-areas: 
    'a b c';
}

.information .less-info .more{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    color: rgb(37, 45, 65);
    background-color: rgb(246, 246, 246);
}


.information .less-info .more .part2{
    font-size: 30px;
    color: rgb(37, 45, 65);
}

.information .less-info .more .part4{
    font-size: 20px;
    font-weight: 600;
}

.information .less-info .info1{
    grid-area: a;
}

.information .less-info .info2{
    grid-area: b;
}

.information .less-info .info3{
    grid-area: c;
}








.mapping{
    width: 100%;
    margin-bottom: 20px;
}










.foundation{
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.foundation .lower{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 750px;
    background-color: rgb(255, 67, 98);
    color: white;
    /* padding: 50px; */
}

.foundation .lower .point1{
    margin: 20px;
}

.foundation .lower .point2{
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 15px;
}

.foundation .lower .point3{
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    margin: 30px;
}

.foundation .lower .point4{
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 15px;
    width: 80%;
}

.foundation .lower .point5{
    margin-top: 40px;
    width: 35%;
}

.foundation .lower .point5 ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.foundation .lower .point5 ul li{
    list-style-type: none;
}

.foundation .lower .point5 ul li i{
    font-size: 18px;
    color: rgb(255, 103, 128);
    background-color: white;
    padding: 10px;
    border-radius: 50%;
}

.foundation .lower .point5 ul li i:hover{
    color: rgb(255, 67, 98);
    transition: 150ms ease;
}




.foundation .lowest{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 750px;
    background-color: white;
    /* padding: 50px; */
}

.foundation .lowest .point6{
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
}

.foundation .lowest .point7{
    margin: 30px;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 15px;
    width: 70%;
}

.foundation .lowest .point8{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.foundation .lowest .point8 form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 400px;
    width: 90%;
    
}

.foundation .lowest .point8 form input{
    padding: 10px;
    width: 90%;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 15px;
    color: black;
    background-color: rgb(246, 246, 246);
    border: 1px solid rgb(219, 219, 219);
}

.foundation .lowest .point8 form textarea{
    padding: 10px;
    width: 90%;
    height: 130px;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 15px;
    color: black;
    background-color: rgb(246, 246, 246);
    border: 1px solid rgb(219, 219, 219);

}

.foundation .lowest .point8 button{
    padding: 15px 50px;
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 500;
    background-color: white;
    border: 2px solid rgb(255, 67, 98);
}

.foundation .lowest .point8 button:hover{
    transition: 150ms ease;
    color: white;
    background-color: rgb(255, 67, 98);
    border: 2px solid rgb(255, 67, 98);
}














footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-size: 13px;
    font-weight: 300;
    color: white;
    background-color: rgb(37, 45, 65);
    width: 100%;
    height: auto;
}

footer .bottom{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 3.5rem 9rem;
}






















@media (min-width:1124px) and (max-width:1369px){

    header .nav{
        display: flex;
        justify-content: space-between;
        padding: 2rem 2.3rem;
    }
    
    header .nav .weblogo{
        align-content: center;
    }
    
    header .nav .hyperlinks{
        width: 50%;
        align-content: center;
    }
    
    header .nav .hyperlinks ul{
        display: flex;
        justify-content: space-evenly;
    }

    .quadrant .quarter{
        display: grid;
        justify-content: center;
        gap: 30px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 450px 280px;
        grid-template-areas: 
        'a b'
        'c c';
        height: 700px;
        width: 79%;
    }

    header .section3{
        font-size: 4.7rem;
        font-weight: bold;
        margin: 25px;
        letter-spacing: 3px;
    }

}


@media (min-width:900px) and (max-width:1124px) {

    header .nav{
        display: flex;
        justify-content: space-between;
        padding: 2rem 2.3rem;
    }
    
    header .nav .weblogo{
        align-content: center;
    }
    
    header .nav .hyperlinks{
        width: 60%;
        align-content: center;
    }
    
    header .nav .hyperlinks ul{
        display: flex;
        justify-content: space-evenly;
    }

    header .section3{
        font-size: 4.5rem;
        font-weight: bold;
        margin: 25px;
        letter-spacing: 3px;
    }

    .quadrant .quarter{
        display: grid;
        justify-content: center;
        gap: 30px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 450px 280px;
        grid-template-areas: 
        'a b'
        'c c';
        height: 700px;
        width: 79%;
    }

    .quadrant .quarter .genesis1{
        font-size: 20px;
    }



.information .less-info{
    grid-template-columns:  repeat(3, 1fr);
}

    .foundation .lowest .point6{
        width: 90%;
    }



    footer{
        display: flex;
        align-items: center;
    }
    
    footer .bottom{
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: space-between;
        align-self: center;
        padding: 2rem 5rem;
    }
    
    }

@media (min-width:768px) and (max-width:900px){

    header .nav{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem 2.3rem;
        height: 150px;
    }
    
    header .nav .weblogo{
        align-content: center;
        width: 90%;
    }
    
    header .nav .hyperlinks{
        width: 100%;
        align-content: center;
    }
    
    header .nav .hyperlinks ul{
        display: flex;
        justify-content: space-evenly;
    }

    header .section3{
        font-size: 4.2rem;
        font-weight: bold;
        margin: 23px;
        letter-spacing: 2px;
    }

    .quadrant .quarter{
        display: grid;
        justify-content: center;
        gap: 30px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 450px 280px;
        grid-template-areas: 
        'a b'
        'c c';
        height: 700px;
        width: 79%;
    }

    .quadrant .quarter .genesis1{
        font-size: 20px;
    }


    .information .less-info{
        grid-template-columns:  repeat(3, 1fr);
    }

.foundation .lower{
    width: 100%;
    height: 650px;
}

.foundation .lower .point5{
    width: 40%;
}

.foundation .lowest{
    width: 100%;
}









    footer{
        display: flex;
        align-items: center;
    }
    
    footer .bottom{
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: space-between;
        align-self: center;
        padding: 2rem;
    }
    
    }


@media (min-width:600px) and (max-width:768px) {

    header .nav{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem 2.3rem;
        height: 150px;
    }
    
    header .nav .weblogo{
        align-content: center;
        width: 80%;
    }
    
    header .nav .hyperlinks{
        width: 100%;
        align-content: center;
    }
    
    header .nav .hyperlinks ul{
        display: flex;
        justify-content: space-evenly;
    }

    header .section3{
        font-size: 4rem;
        font-weight: bold;
        margin: 23px;
        letter-spacing: 2px;
    }

    .quadrant{
        height: auto;
    }

    .quadrant .quarter{
        display: grid;
        justify-content: center;
        gap: 30px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 450px 450px 280px;
        grid-template-areas: 
        'a a'
        'b b'
        'c c';
        height: 1250px;
        width: 95%;
    }

    .quadrant .quarter .median form{
        align-items: center;
    }

    .quadrant .quarter .genesis{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: rgb(37, 45, 65);
    }

    .quadrant .quarter .genesis4 {
        display: flex;
        justify-content: center;
    }

    .quadrant .quarter .genesis4 ul{
        display: flex;
        width: 40%;
        justify-content: space-around;
    }

    .information{
        height: auto;
    }

    .information .less-info{
        grid-template-columns:  repeat(1, 1fr);
        grid-template-rows: repeat(3, 350px);
        grid-template-areas:
        'a'
        'b'
        'c';
        margin: 30px 0px;
    }

    .information .less-info .more{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 20px;
        color: rgb(37, 45, 65);
        background-color: rgb(246, 246, 246);
    }

    .foundation .lower{
        width: 100%;
        height: 600px;
    }

    .foundation .lower .point5{
        width: 50%;
    }
    
    
    
    .foundation .lowest{
        width: 100%;
    }

    footer{
        display: flex;
        align-items: center;
    }
    
    footer .bottom{
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: space-between;
        align-self: center;
        padding: 2rem;
    }
    
    }


@media (min-width:425px) and (max-width:600px) {

    header .nav{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem 1.5rem;
        height: 150px;
    }
    
    header .nav .weblogo img{
        align-content: center;
        width: 75%;
    }
    
    header .nav .hyperlinks{
        width: 100%;
        align-content: center;
    }
    
    header .nav .hyperlinks ul{
        display: flex;
        justify-content: space-evenly;
    }

    header .nav .hyperlinks ul li a{
        font-size: 13px;
    }

    header .section3{
        font-size: 3.5rem;
        font-weight: bold;
        margin: 23px;
        letter-spacing: 1.5px;
    }

    .quadrant{
        height: auto;
    }

    .quadrant .quarter{
        display: grid;
        justify-content: center;
        gap: 30px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 450px 450px 280px;
        grid-template-areas: 
        'a a'
        'b b'
        'c c';
        height: 1250px;
        width: 95%;
    }

    .quadrant .quarter .median form{
        align-items: center;
    }

    .quadrant .quarter .genesis{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: rgb(37, 45, 65);
    }

    .quadrant .quarter .genesis1{
        margin-bottom: 30px;
        font-size: 25px;
    }
    
    .quadrant .quarter .genesis3{
        font-size: 19px;
        font-weight: 600;
    }

    .quadrant .quarter .genesis4 {
        display: flex;
        justify-content: center;
    }

    .quadrant .quarter .genesis4 ul{
        display: flex;
        width: 55%;
        justify-content: space-around;
    }

    .information{
        height: auto;
    }

    .information .less-info{
        grid-template-columns:  repeat(1, 1fr);
        grid-template-rows: repeat(3, 350px);
        grid-template-areas:
        'a'
        'b'
        'c';
        margin: 30px 0px;
    }

    .information .less-info .more{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 20px;
        color: rgb(37, 45, 65);
        background-color: rgb(246, 246, 246);
    }


    .foundation .lower{
        width: 100%;
        height: 550px;
    }

    .foundation .lower .point5{
        width: 60%;
    }
    
    
    .foundation .lowest{
        width: 100%;
    }

    footer{
        display: flex;
        align-items: center;
    }
    
    footer .bottom{
        width: 70%;
        height: 150px;
        display: flex;
        justify-content: space-evenly;
        align-self: center;
        padding: 2rem;
    }
    
    }


@media (min-width:300px) and (max-width: 425px){
    
    header .nav{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem 0.5rem;
        height: 140px;
    }
    
    header .nav .weblogo img{
        align-content: center;
        width: 60%;
    }
    
    header .nav .hyperlinks{
        width: 100%;
        align-content: center;
    }
    
    header .nav .hyperlinks ul{
        display: flex;
        justify-content: space-evenly;
    }

    header .nav .hyperlinks ul li a{
        font-size: 10px;
    }

    header .section3{
        font-size: 3rem;
        font-weight: bold;
        margin: 22px;
        letter-spacing: 1.2px;
    }

    .quadrant{
        height: auto;
    }

    .quadrant .quarter{
        display: grid;
        justify-content: center;
        gap: 30px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 450px 450px 280px;
        grid-template-areas: 
        'a a'
        'b b'
        'c c';
        height: 1250px;
        width: 95%;
    }

    .quadrant .quarter .median form{
        align-items: center;
    }

    .quadrant .quarter .genesis{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: rgb(37, 45, 65);
    }

    .quadrant .quarter .genesis1{
        margin-bottom: 30px;
        font-size: 25px;
    }
    
    .quadrant .quarter .genesis3{
        font-size: 19px;
        font-weight: 600;
    }

    .quadrant .quarter .genesis4 {
        display: flex;
        justify-content: center;
    }

    .quadrant .quarter .genesis4 ul{
        display: flex;
        width: 65%;
        justify-content: space-around;
    }

    .information{
        height: auto;
    }

    .information .less-info{
        grid-template-columns:  repeat(1, 1fr);
        grid-template-rows: repeat(3, 250px);
        grid-template-areas:
        'a'
        'b'
        'c';
        margin: 30px 0px;
    }

    .foundation .lower{
        width: 100%;
        height: 450px;
    }

    .foundation .lower .point5{
        width: 95%;
    }
    
    
    .foundation .lowest{
        width: 100%;
    }

footer{
    display: flex;
    align-items: center;
}

footer .bottom{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    padding: 1.5rem;
}

}